---
layout: default
title: Corey Hulen
banner_url: /assets/banner_main.jpg
---

<ul class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
   <li>
    <div class="post-header strap" style="background: url({{post.banner_url}}) 50% 50% / cover no-repeat #0d0501;">
    <h1 style="color: white; background-color: rgba(50,50,50,0.5);"><a style="color: white" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <p style="color: white; background-color: rgba(50,50,50,0.5); margin: 0px; padding: 0px 0px 0px 3px" class="meta">{{ post.date | date: "%b %-d, %Y" }}
    </p>
    </div>
    {{ post.excerpt }}
    <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a></p>
   </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}