<header class="site-header">

  <div class="post-header main_banner" style="background: url({{page.banner_url}}) 50% 50% / cover no-repeat #0d0501;">
    <!-- free images from http://nos.twnsnd.co/ -->
  </div>

  <div class="wrap">

    <!-- <h2 class="header-heading">{{ site.title }}</h2> -->

    <div class="header-col-1 column">
      <ul>
        <li><a href="/"><div class="profile-img"></div></a></li>
        <li><a style="font-size: 28px; color: #333;" href="/">{{ site.title }}</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="header-col-2 column" style="margin-top: 100px">
      <ul>
        <li>
          <a href="/about/">
            <span class="username">About Me</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/coreyhulen">
            <span class="username">GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/coreyhulen">
            <span class="username">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/corey_hulen">
            <span class="username">Twitter</span>
          </a>
        </li>

      </ul>
    </div>

    <div class="header-col-3 column" style="margin-top: 80px">
      <p class="text">{{ site.description }}</p>
      <p><a href="/about/">Continue reading...</a></p>
    </div>

  </div>

</header>
